.login-form-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form-footer {
  display: flex;
  justify-content: space-between;
}
