.ProfileDrawerHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: #301934;
}

.ProfileDrawerBody {
  padding-top: 50px;
}

.ProfileUserInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProfileUserTabs {
  padding-top: 30px;
}
