.post-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px lightgray;
    border-radius: 0.5em;

    background-color: lightgray;

    width: 500px;
    height: 400px;
    margin: 20px;
}

img {
    max-width: 400px;
    max-height: 250px;
}