
#magnify {
        color: rgba(255, 255, 255, 0.322);
        position: relative;
        top: 220px;
        left: 190px;
}

.profile-body #magnify {
        display: none;
}

#magnify:hover {
    color: rgb(255, 255, 255);
}

.rerumbled {
    color: green;
}

.not-rerumbled {
    color: black;
}

.image-modal-container {
    display: flex;
}

.image-modal-container .fa-times-circle {
    position: relative;
    top: -25px;
    color: red;
}

.post-media {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}


.post-media img {
    width: 100%;
    object-fit: contain;
}

.user-control-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.hidden {
    display:none
}

.post-card {
    display: flex;
    flex-direction: column;
    background-color: white;

    border-radius: 0.25em;

    width: 520px;
    margin: 20px 0px;

   -moz-box-shadow:    inset 0px 0px 20px #000000;
   -webkit-box-shadow: inset 0px 0px 20px #000000;
   box-shadow:         inset 0px 0px 20px #a49cb3;

}

.post-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 25px 30px;

}


#tag:hover {
    color: rgba(68, 38, 68, 0.514);
}

.post-body {
    padding: 50px 30px;
    background: 0;
}

.user-control-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 10px 25px;
}

#tag {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    color: rgb(54, 6, 54);
    font-style: oblique;
    font-weight: bold;
}

.post-body a {
    font-size: 18px;
    color: rgb(54, 6, 54)
}

.post-body p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(72, 72, 99);
    font-size: 18px;

    margin-top: 5px;
    margin-left: 30px;
}

.user-control-panel a,p {
    font-size: 17px;
    color: rgb(72, 72, 99);
}

#like-count {
    font-size: 15px;
}

#heart::before {
    font-size: 30px;
    padding-right: 15px;
}

.fas::before {
    font-size: 30px;
}

.selected::before {
    color: red;
    font-size: 30px;
    padding-right: 15px;
}

.tools-control {
    display: flex;
    flex-direction: column;
    height: 150px;
    position: relative;
    padding-top: 10px;
    margin-bottom: 15px;
    background-color: rgb(206, 201, 219);
    -webkit-transition: height 0.5s linear;
    -moz-transition: height 0.5s linear;
    -ms-transition: height 0.5s linear;
    -o-transition: height 0.5s linear;
    transition: height 0.5s linear;
}

.tools-control-closed {
    height: 0px;
    -webkit-transition: height 0.5s linear;
    -moz-transition: height 0.5s linear;
    -ms-transition: height 0.5s linear;
    -o-transition: height 0.5s linear;
    transition: height 0.5s linear;
}

#hidden {
    display: none;
}

#tool-select {
    margin: 0px 20px;
    padding: 7px 0px;
    border-bottom: 1px rgba(99, 90, 129, 0.164) solid;
}

#edit-textarea {
    font-size: 18px;
    color: white;
    background-color: rgb(99, 90, 129);
    width: 450px;
    height: 100px;
}

#title-input {
    font-size: 18px;
    color: white;
    margin-top: 10px;
    height: 30px;
    width: 400px;
    background-color: rgb(99, 90, 129);
}