#like-count {
    color: white;
}

#title {
    color: black;
}

.post-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: lightgray;

    border-radius: 0.5em;

    width: 500px;
    height: 400px;
    margin: 20px;
}

.user {
    box-shadow: 0px 0px 10px purple
}

.user-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: purple;
    
    border-radius: 0.5em 0.5em 0 0;

    width: 500px;
    height: 30px;
}

.post-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    background-color: purple;
    
    border-radius: 0 0 0.5em 0.5em;

    width: 500px;
    height: 30px;
}

.user-info-container a {
    color: white
}

.user-info-container a:hover {
    color: yellow
}

img {
    max-width: 400px;
    max-height: 250px;
}