
select {
    border: 0;
    height: 30px;
    width: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: 18px;
}

input, textarea {
    border: 0;
    width: 100%;
}

.label, .input {
    display: flex;
    flex-direction: column;
}

.label {
    align-self: start;
    align-items: flex-end;
}

.input input {
    outline: none;
    width: 350px;
    font-size:18px;
    padding: 3px;
}

.input textarea {
    outline: none;
    resize: none;
    width: 350px;
    font-size: 18px;
    height: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.label label {
    color: whitesmoke;
    font-size: 20px;
    /* margin: 5px 10px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.input-container {
    margin-top: 15px;
}

.create-post button {
    text-decoration: none;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

    border: 0;
}

.create-post-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 520px;

    background-color: #D8C3A5;
    border-radius: 0.5em;

    /* margin: 5% 0px; */
    position: relative;
}

.speech-bubble:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #D8C3A5;
    border-top: 10px solid #D8C3A5;
    border-bottom: 10px solid transparent;
    left: -19px;
    top: 6px;
}



.post-information-container, .upload-media-container {
    display: flex;
    flex-direction: row;
}

select {
    outline: none;
    /* margin: 0px 10px; */
    border-radius: 0.5em;
}

#submit-button {
    font-size: 18px;
    /* margin: 20px 0px; */
    padding: 10px 10px;

    border-radius: 0.25em;
}

.post-button-container {
    text-align: end;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
}