.about-us-container,
.about-us-container-2,
.about-us-container-3 {
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  padding-top: 20px;
  top: 100px;
}

.divider-container,
.divider-container-2,
.divider-container-3 {
  height: 50vh;
}

.about-us-container-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
