
.profile-create-post {
    padding: 15em 5%;
}

.split-cont {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 0px 55px;
}

.image-container {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.profile-body {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px 5px;
    align-content: flex-start;

    padding: 15em 5%;
}

@media (max-width: 1300px) {
    .rerumbled {
        display:none;
    }

    .split-cont {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
}



.profile-card {
    display: flex;
    flex-direction: row;
    align-content: center;
    position: sticky;
    top: 60px;
    width: 100%;    
    margin-top: 130px;
    margin-bottom: -200px;
    padding-top: 20px;
    padding-left: 150px;
    background-color: rgb(9, 7, 43);
    /* background-color: rgb(35, 7, 43); */
    border-bottom: .5px solid rgba(139, 139, 139, 0.199);

    z-index: 1;
}

.profile-card p {
    color: cornsilk;
}

.rerumbled-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media (max-width: 900px) {
    .profile-body {
        flex-direction: column;
    }
}