/* TODO Add site wide styles */

/* centering input placeholder */
::-webkit-input-placeholder {
  text-align: center;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
}

body {
  background-color: #301934fb;
}
