/* TODO Add site wide styles */
body {
    margin: 0;

    /* background-color: rgb(211, 210, 233); */
    /* background-color: rgb(54, 6, 54); */
    background-color: rgb(9, 7, 43);
}

 a, p, h1, h2, h3, h4, h5 {
    color: whitesmoke;
    text-decoration: none;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    /* margin: 0px 30px; */
}

input, textarea {
  border-radius: 0.5em;
  text-align: center;
  height: 25px;
}


/* centering input placeholder */
::-webkit-input-placeholder {
  text-align: center;
}