/* TODO Add site wide styles */
body {
    margin: 0;

    background-color: rgb(52, 49, 107);
}

a, p, h1, h2, h3, h4, h5 {
    color: whitesmoke;
    text-decoration: none;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 0px 30px;
}