.sign-input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.errors {   
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    color: rgb(233, 108, 108);
}

.sign-input-container input {
    border: 0;
    max-width: 200px;
}

.sign-input-container label {
    color: whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    /* margin-top: 2px; */
    margin-bottom: 5px;

    font-size: 20px;
}

.sign-input-container textarea {
    min-width: 300px;
    max-width: 400px;
}

.sign-input-container #submit {
    border: 0;
    background-color: cornflowerblue;

    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

