.SignupFormPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(245, 245, 245);
  width: 400px;
  height: 500px;
}

.SignupForm {
  display: flex;
  flex-direction: column;
}

.SignupFormFooter {
  display: flex;
  justify-content: space-between;
  background-color: rgb(209, 209, 209);
}
