.selector {
    /* margin: 0px 10px; */

}

.tag {
    display: grid;
    grid-template-columns: 80% 20%;

    height: auto;
    margin-left: 90px;
}

h4.active {
    text-decoration: underline;
}

.tag-box {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 60px 0px;

}

.side-box {
    padding: 150px 0px;
}

.tag-box-control {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    /* margin: 0px 10px; */
}

.tag-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: rgb(9, 7, 43);
}

@media (max-width: 1550px) {
    .tag-cards {
        flex-direction: column;
        align-items: center;
    }
}

.searched-tag-info {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 70px;
    width: 100%;
    height: 100px;
    background-color: darkslateblue;
    border-radius: 0.25em;

    text-align: center;
    /* margin: 0px -50px; */
    /* padding-bottom: 20px; */
}