.selector {
    margin: 0px 10px;

}

.tag {
    display: grid;
    grid-template-columns: 70% 30%;

    height: 100%;
}

h4.active {
    text-decoration: underline;
}

.tag-box {
    display: flex;
    flex-direction: column;

    /* background-color: rgb(53, 18, 53); */

    height: 100%;
    padding: 60px 0px;

}

.tag-box-control {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin: 0px 20px;
}

.tag-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
    justify-content: space-evenly;

    margin: 0px 20px;
    background-color: rgb(9, 7, 43);

    height: 100%;
}

.searched-tag-info {
    position: fixed;
    z-index: 1;


    text-align: center;
    padding: 0px 20px;
    padding-bottom: 20px;
}