

#logout {
    color: whitesmoke;
    text-decoration: none;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 0px 30px;

    border: 0;
    background-color: rgb(52, 49, 107);
}

a.active {
    color: yellow
}

.nav-bar {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;

    position: sticky;
    top: 0;

    height: 60px;

    background-color: rgb(52, 49, 107);

}

.nav-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.profile-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-logo-container h2 {
    color: whitesmoke;
    font-style: oblique;
}

.nav-logo-container h2:hover {
    text-shadow: rgba(245, 240, 255, 0.24) 0px 2px 5px;
}