

/* #logout {
    color: whitesmoke;
    text-decoration: none;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 0px 30px;

    border: 0;
    background-color: rgb(9, 7, 43);
} 


*/


/* 
#search {
    min-width: 200px;
    max-width: 350px;
}


a.active {
    color: rgb(182, 167, 248);
    text-decoration: underline;
    text-underline-offset: 5px;
}



.ReactModal__Body--open {
    overflow: hidden;
}


.single-result {
    font-size: 15px;
    margin: 0px 0px 0px 50px;
}

#close-button {
    position: relative;
    bottom: 230px;
    left: 0px;
    text-decoration: none;
    color: red;
}

#logout {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    border: 0;

    color: white;

    font-size: 15px;
    margin: 15px;
    padding: 4px 10px;
    background-color: rgb(81, 71, 117);

    border-radius: 0.25em;
}

#profile-icon {
    color: whitesmoke;
}

#profile-icon:hover {
    color:rgb(99, 90, 129);
}

.fa-bars {
    color: white;
    margin: 0px 25px;
}

.open {
    color:rgba(104, 105, 151, 0.507)
}


.nav-bar {
    display: grid;
    grid-template-columns: 45% 10% 45%;

    position: sticky;
    top: -2px;

    height: 65px;
    width: 100%;
    background-color: rgb(9, 7, 43);
    z-index: 1;

}

.nav-bar a {
    margin: 0px 25px
}

.nav-bar-holder {
    position: fixed;
    z-index: 2;
    width: 100%;
} 



*/
/* 
.nav-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 800px;
}

.profile-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-logo-container {
    text-align: center;
}

.nav-logo-container h2 {
    font-size: 25px;
    color: whitesmoke;
    font-style: oblique;
}

.nav-logo-container h2:hover {
    text-shadow: rgba(245, 240, 255, 0.24) 0px 2px 5px;
}

*/


/* 
.search-divider {
    border-top: .15px  rgb(74, 59, 83) solid;
    margin: 8px 30px;
}

.divider.shown {
    position: sticky;
    top: 60px;
    width: 100%;
    margin: 0;
}

.search-results-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 2;

    overflow: scroll;

    max-height: 250px;

    padding: 10px 0px;
    margin-left: 80px;
}

.search-results-container, .search-results-container a {
    width: 100%;
    background-color: rgb(54, 6, 54);
    border-radius: 0 0 0.5em 0.5em ;
}

.post-results, .tag-results, .user-results {
    height: 30px;
    max-height: 100px;
} 

*/